# --------------------------
# Игнорируем всё
# --------------------------
*

# --------------------------
# Разрешаем конкретные папки / файлы
# --------------------------
!get_messages.py
!sleep_policy.py

# --------------------------
# Исключаем все скрытые файлы кроме .gitignore
# --------------------------
!.gitignore
