# --------------------------
# Игнорируем всё
# --------------------------
*

# --------------------------
# Разрешаем конкретные папки / файлы
# --------------------------
!get_channels.py
!get_qazaq.py
!get_messages.py
!sleep_policy.py
!docs/
!docs/**



# --------------------------
# Исключаем все скрытые файлы кроме .gitignore
# --------------------------
!.gitignore
